@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-3">
    @Html.Partial("_Sidebar")
  </div>
  <div class="col-md-9">
    <form action="/vendors" method="post">
      <div class="form-group">
        <label for="vendorName">Vendor Name</label>
        <input id="vendorName" name="vendorName" type="text" class="form-control">
      </div>
      <button class="btn btn-success" type="submit">Add New Vendor</button>
    </form>
  </div>
</div>