<div class="links-list">
  <ul>
    <li><button class="btn btn-info link-button" onclick="location.href='/';">Home</button></li>
    <li><button class="btn btn-info link-button" onclick="location.href='/vendors';">Vendor List</button></li>
    <li><button class="btn btn-info link-button" onclick="location.href='/vendors/new';">Add New Vendor</button></li>
  </ul>
</div>