<div class="links-list">
  <ul>
    <li><a href="/vendors">Vendor List</a></li>
    <li><a href="/vendors/new">Add New Vendor</a></li>
    <li><a href="/orders">View All Orders</a></li>
  </ul>
</div>