@{
  Layout = "_Layout";
}

<div class="page-header">
  <h1>Welcome To Pierre's!</h1>
</div>

<div class="row">
  <div class="col-md-3">
    @Html.Partial("_Sidebar")
  </div>
  <div class="col-md-9">
    <div class="card-deck">
      <div class="card">
        <img src="~/img/sliced-bread.jpeg" alt="Some sliced bread" class="card-img-top">
      </div>
      <div class="card">
        <img src="~/img/cinnamon-rolls.jpeg" alt="Cinnamon rolls" class="card-img-top">
      </div>
    </div>
  </div>
</div>